NEXT_PUBLIC_API_URL=/api
DATABASE_PATH=./data/odbus-subset.sqlite
CBSA_TARIFF_YEAR=2026

# FedEx parcel quote adapter
FEDEX_CLIENT_ID=
FEDEX_CLIENT_SECRET=
FEDEX_ACCOUNT_NUMBER=
FEDEX_AUTH_URL=https://apis.fedex.com/oauth/token
FEDEX_RATE_URL=https://apis.fedex.com/rate/v1/rates/quotes
FEDEX_QUOTE_TEST_ENABLED=false
